<app-lead-dialog-header
  [lead]="dialogData.lead"
  [state]="dialogData!.state"
/>

<mat-divider/>

<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-tab-group dynamicHeight>
      <!--   Información principal   -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="information" class="mr-2"></mat-icon>
          Información
        </ng-template>

        <div class="flex flex-col gap-2 mt-2">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name" required>
            <mat-error>
              {{ formTools.checkForErrorsIn(formGroup.controls.name) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Matriculación</mat-label>
            <input matInput type="number" formControlName="numberStudents" required>
            <mat-error>
              {{ formTools.checkForErrorsIn(formGroup.controls.numberStudents) }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <!--   Directorio   -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="notebook" class="mr-2"></mat-icon>
          Directorio
        </ng-template>

        <div class="flex flex-col gap-2 mt-2">
          <div formArrayName="contacts">
            <div class="flex items-center justify-between gap-2">
              <h3 class="font-medium text-lg">Contactos</h3>

              <button mat-icon-button matTooltip="Nuevo contacto" (click)="addContactForm()">
                <mat-icon svgIcon="plus"></mat-icon>
              </button>
            </div>

            @for (contact of formContacts().controls; track contactIndex; let contactIndex = $index) {
              <div [formGroupName]="contactIndex" class="flex flex-col gap-2">
                <div class="flex justify-between items-center gap-2">
                  <h3 class="font-medium">Contacto #{{ contactIndex + 1 }}</h3>

                  <button
                    mat-icon-button
                    matTooltip="Eliminar contacto"
                    color="warn"
                    (click)="removeContactFormGroup(contactIndex)"
                  >
                    <mat-icon svgIcon="delete"></mat-icon>
                  </button>
                </div>

                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="name" required>
                  <mat-error>
                    {{ formTools.checkForErrorsIn(contact.get('name')) }}
                  </mat-error>
                </mat-form-field>

                <div formArrayName="methods" class="flex flex-col gap-2">
                  <div class="flex items-center justify-between gap-2">
                    <h3 class="font-medium text-lg">Métodos de contacto</h3>

                    <button mat-icon-button matTooltip="Nuevo contacto" (click)="addMethodContactForm(contactIndex)">
                      <mat-icon svgIcon="plus"></mat-icon>
                    </button>
                  </div>

                  @for (method of formMethods(contactIndex).controls; track methodIndex; let methodIndex = $index) {
                    <div class="flex justify-between items-center gap-2">
                      <h3 class="font-medium">Método de contacto #{{ methodIndex + 1 }}</h3>

                      <button
                        mat-icon-button
                        matTooltip="Eliminar método"
                        color="warn"
                        (click)="removeMethodFormGroup(contactIndex, methodIndex)"
                      >
                        <mat-icon svgIcon="delete"></mat-icon>
                      </button>
                    </div>

                    <div [formGroupName]="methodIndex" class="flex flex-col gap-2">
                      <div class="flex gap-2">
                        <mat-form-field class="w-full">
                          <mat-label>Tipo</mat-label>
                          <mat-select formControlName="type">
                            <mat-option [value]="0">
                              <mat-icon svgIcon="whatsapp"></mat-icon>
                              WhatsApp
                            </mat-option>
                            <mat-option [value]="1">
                              <mat-icon svgIcon="phone"></mat-icon>
                              Teléfono
                            </mat-option>
                            <mat-option [value]="2">
                              <mat-icon svgIcon="at"></mat-icon>
                              Mail
                            </mat-option>
                          </mat-select>
                          <mat-error>
                            {{ formTools.checkForErrorsIn(method.get('type')) }}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                          <mat-label>Contacto</mat-label>
                          <input matInput type="text" formControlName="value" required>
                          <mat-error>
                            {{ formTools.checkForErrorsIn(method.get('value')) }}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </mat-tab>
      <!--   Sitios oficiales   -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="link" class="mr-2"></mat-icon>
          Sitios
        </ng-template>

        <div class="flex flex-col gap-2 mt-2">
          <div formArrayName="officialSites">
            <div class="flex items-center justify-between gap-2">
              <h3 class="font-medium text-lg">Sitios oficiales</h3>

              <button mat-icon-button matTooltip="Nuevo contacto" (click)="addOfficialSiteForm()">
                <mat-icon svgIcon="plus"></mat-icon>
              </button>
            </div>

            @for (officialSite of formOfficialSites().controls; track officialSiteIndex; let officialSiteIndex = $index) {
              <div [formGroupName]="officialSiteIndex" class="flex flex-col gap-2">
                <div class="flex justify-between items-center gap-2">
                  <h3 class="font-medium">Sitio oficial #{{ officialSiteIndex + 1 }}</h3>

                  <button
                    mat-icon-button
                    matTooltip="Eliminar método"
                    color="warn"
                    (click)="removeOfficialSiteFormGroup(officialSiteIndex)"
                  >
                    <mat-icon svgIcon="delete"></mat-icon>
                  </button>
                </div>

                <div class="flex gap-2">
                  <mat-form-field class="w-full">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="type">
                      <mat-option [value]="0">
                        <mat-icon svgIcon="web"></mat-icon>
                        Sitio web
                      </mat-option>
                      <mat-option [value]="1">
                        <mat-icon svgIcon="facebook"></mat-icon>
                        Facebook
                      </mat-option>
                      <mat-option [value]="2">
                        <mat-icon svgIcon="instagram"></mat-icon>
                        Instagram
                      </mat-option>
                      <mat-option [value]="3">
                        <mat-icon svgIcon="linkedin"></mat-icon>
                        LinkedIn
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      {{ formTools.checkForErrorsIn(officialSite.get('type')) }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-full">
                    <mat-label>Enlace</mat-label>
                    <input matInput type="text" formControlName="value" required>
                    <mat-error>
                      {{ formTools.checkForErrorsIn(officialSite.get('value')) }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            }
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex flex-col w-full">
    <button mat-flat-button color="primary" form="dataForm">
      Guardar
      <mat-icon svgIcon="content-save"></mat-icon>
    </button>
  </div>
</mat-dialog-actions>
