<div class="flex justify-between gap-4 items-center py-2 px-5">
  <h2 class="font-medium text-xl">
    {{ !!dialogData?.id ? 'Actualizar' : 'Nuevo' }} columna
  </h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</div>

<mat-divider/>

<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()" class="flex flex-col gap-2">
    <mat-form-field hintLabel="Nombre del estado">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" required>
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.controls.name) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Color del estado">
      <mat-label>Color</mat-label>
      <input matInput type="color" formControlName="color" required>
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.controls.color) }}
      </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="interpretation" color="primary">
      @for (option of interpretations; track option.value) {
        <mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>
      }
    </mat-radio-group>

    @if (formGroup.get('interpretation')?.invalid) {
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.controls.interpretation) }}
      </mat-error>
    }
  </form>
</mat-dialog-content>

<mat-divider/>

<mat-dialog-actions>
  <div class="flex flex-col w-full">
    <button mat-flat-button color="primary" form="dataForm">
      Guardar
      <mat-icon svgIcon="content-save"></mat-icon>
    </button>
  </div>
</mat-dialog-actions>
