<div class="flex flex-col gap-3">
  <p>
    <span class="font-medium">Nombre:</span>
    {{ lead.name }}
  </p>
  <p>
    <span class="font-medium">Cantidad de estudiantes:</span>
    {{ lead.numberStudents }}
  </p>
  <p class="font-medium">
    Contactos:
  </p>
  <div class="flex flex-col gap-2">
    @for (contact of lead.contacts; track contactIndex; let contactIndex = $index) {
      <h3 class="font-medium">{{ contact.name }}</h3>
      <ul class="list-disc">
        @for (method of contact.methods; track methodIndex; let methodIndex = $index) {
          <li class="flex gap-2">
            @switch (method.type) {
              @case (0) {
                <mat-icon svgIcon="whatsapp"></mat-icon>
              }
              @case (1) {
                <mat-icon svgIcon="phone"></mat-icon>
              }
              @case (2) {
                <mat-icon svgIcon="at"></mat-icon>
              }
            }
            <p>{{ method.value }}</p>
          </li>
        }
      </ul>
      <mat-divider></mat-divider>
    }
    <p class="font-medium">
      Sitios oficiales:
    </p>
    <ul class="list-disc">
      @for (officialSite of lead.officialSites; track contactIndex; let contactIndex = $index) {
        <li class="flex gap-2">
          @switch (officialSite.type) {
            @case (0) {
              <mat-icon svgIcon="web"></mat-icon>
            }
            @case (1) {
              <mat-icon svgIcon="facebook"></mat-icon>
            }
            @case (2) {
              <mat-icon svgIcon="instagram"></mat-icon>
            }
            @case (3) {
              <mat-icon svgIcon="linkedin"></mat-icon>
            }
          }
          <a target="_blank" [href]="officialSite.value">{{ officialSite.value }}</a>
        </li>
      }
    </ul>
    <mat-divider></mat-divider>
  </div>
</div>
