@if (!panelService.loading()) {
  <div
    cdkDropList
    class="dropped-list"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="panelService.collections()"
    (cdkDropListDropped)="panelService.columnsDrop($event)"
  >
    <div class="list-content" cdkDropListGroup>
      @for (state of panelService.collections(); track state.id) {
        <app-lead-status-column [state]="state" />
      }
      <div class="flex flex-col w-72 min-w-72">
        <button mat-stroked-button (click)="openCreateStateDialog()">
          Nueva columna
          <mat-icon svgIcon="plus" iconPositionEnd></mat-icon>
        </button>
      </div>
    </div>
  </div>
} @else {
  <div class="flex items-center justify-center w-full h-[calc(100vh-9rem)]">
    <app-lottie-loader [size]="24"/>
  </div>
}
