<mat-toolbar color="primary" class="gap-4">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>

  <span class="font-medium text-xl font-brand">Genius Munyaal - {{ currentRoute }}</span>

  <span class="ml-auto"></span>

  <button mat-icon-button>
    <mat-icon svgIcon="bell"></mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon svgIcon="account"></mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="h-[calc(100vh-4rem)] w-screen">
  <mat-drawer #drawer class="flex flex-col w-60" [mode]="!mediaQueryList.matches ? 'side' : 'over'"
              [opened]="!mediaQueryList.matches">
    <app-toggle-project/>

    <mat-list>
      <div mat-subheader class="font-bold">Menú</div>
      @for (link of routes; track link.route) {
        <mat-list-item [routerLink]="link.route" routerLinkActive="mdc-list-item--activated">
          <mat-icon matListItemIcon [svgIcon]="link.icon"></mat-icon>
          <div matListItemTitle>{{ link.name }}</div>
        </mat-list-item>
      }
      <mat-divider/>
    </mat-list>
  </mat-drawer>

  <div class="container mx-auto px-4">
    <ng-content/>
  </div>
</mat-drawer-container>
