<div cdkDrag [cdkDragData]="state" [id]="state.id">
  <div class="draggable-box" [style.border-top-color]="state.color">
    <div class="flex justify-between items-center">
      <mat-icon svgIcon="drag" cdkDragHandle class="cursor-move"></mat-icon>
      <h5 class="font-medium text-lg">{{ state.name }}</h5>
      <span class="ml-auto"></span>
      <mat-icon svgIcon="dots-vertical" [matMenuTriggerFor]="menu"></mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openUpdateStateDialog()">
          <mat-icon svgIcon="pencil"></mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="openDeleteStateDialog()" [disabled]="disabledDelete">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>

    <mat-divider></mat-divider>

    <div
      cdkDropList
      class="flex flex-col gap-2 flex-1 overflow-y-scroll"
      [id]="state.id"
      [cdkDropListData]="state.prospects"
      (cdkDropListDropped)="rowsDrop($event)"
    >
      @for (lead of state.prospects; track lead.id) {
        <app-lead-card [lead]="lead" [state]="state" />
      }
    </div>

    <mat-divider></mat-divider>

    <button mat-stroked-button (click)="openCreateLeadDialog()">
      Nuevo prospecto
      <mat-icon svgIcon="plus" iconPositionEnd></mat-icon>
    </button>
  </div>

  <div class="cdk-column-placeholder" *cdkDragPlaceholder></div>
</div>
